.recipesPage {
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  padding-left: max(2rem, calc(50% - 38.125rem));
  padding-right: max(2rem, calc(50% - 38.125rem));
}

.headerContainer{
  width: 100%;
}

.recipesHeader {
  font-family: var(--font-title);
  font-size: 2rem;;
  margin: 1rem auto 0.5rem 0;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  border: none;
  margin-bottom: 3rem;
}


.recipesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 2.7rem;
  padding: auto;
  margin-top: 0%;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .recipesContainer {
    justify-content: center;
  }
}

.loadMoreBtn {
  background: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 0.2em 0.7em;
  font-family: var(--font-text);
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}
.loadMoreBtn:hover {
  outline: 1px solid var(--color-primary);
  text-decoration: underline 1px var(--color-primary);
  box-shadow: 2px 2px 2px #ebd2c5;
}

