
.recipesPage{
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}
.recipesHeader{
  margin-top: 4rem;
  margin-bottom: 1rem;
  
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  border: none;
  margin-bottom: 4rem;
}
.recipesContainer {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  /* justify-content: space-between; */
  /* row-gap: clamp(0.5rem, 2vw, 2rem); */
  justify-content: start;
  gap: 2.7rem;
  margin-inline: auto;
  padding: auto;
}