.tab{
  width: 100%;
  margin-top: 2rem;
}

.tab li{
  height: 4rem;
  background-color: #fff;
  border-radius: 4rem 0 0 4rem;
  padding-left: 1.2rem;
  /* margin-right: 1rem; */
}
.tab li a:hover{
  color: var(--color-primary);
}

.tab li a{
  font-family: var(--font-normalText);
  font-size: 1.2rem;
  color: var(--color-text);
  text-decoration: none;
}
