.pageContainer {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.imgContainer {
  overflow: hidden;
  height: 100vh;
}

.loginTitle {
  font-family: var(--font-title);
  text-decoration: underline 1px var(--color-primary);
}

.loginImg {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  display: block;
}

.card {
  background-color: var(--color-bg);
  border-radius: 5px;
  border: 1px solid var(--color-accent2);
  box-shadow: 2px 2px 2px #ebd2c5;
}

.successMessage {
  font-family: var(--font-text);
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-align: center;
}

.addCardForm input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background: #fafafa;
  color: #222;
}

.addCardForm input:focus {
  border-color: var(--color-primary);
  outline-color: var(--color-primary);
  background: #fff;
}

.inputText {
  /* display: flex; */
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background: #fafafa;
  color: #222;
}

.inputText:focus {
  border-color: var(--color-primary);
  outline-color: var(--color-primary);
  background: #fff;
}

.titleText {
  font-family: var(--font-text);
  font-size: 1.25rem;
}

.form-control:focus {
  border: 0;
  box-shadow: none;
}

.formBtn {
  font-family: var(--font-text);
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.formBtn:hover {
  background-color: var(--color-bg);
  color: var(--color-primary);
  outline: 1px solid var(--color-primary);
  border: 1px solid var(--color-primary);
}

.toggleButton {
  font-family: var(--font-text);
  color: var(--color-primary);
  text-decoration: none;
}

.toggleButton:hover {
  text-decoration: underline;
}

.noFooterMargin {
  margin-top: 0 !important;
}

.formBg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 992px) {
  .formBg {
    background-image: none !important;
  }
}
