.container{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 90vh;
  background-color: #FCF7F3;
  padding-top: 0;
  margin-top: 0;

}
.container img{
  max-width: 90vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}