*{
  margin-inline: auto;
}
.headContainer{
  display: flex;
  padding-left: max(2rem, calc(50% - 30rem));
  padding-right: max(2rem, calc(50% - 30rem));
  justify-content: space-around;
  align-items: baseline;
}
.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-self: center;
  width: 70%;
  margin: auto;
}

.leftSection{
  margin-left:0;
}

.rightSection{
  margin-right:0;
}

.sectionSpacing{
align-self: start;
margin-top: 2rem;
}