.container {
  /* width: 80%; */
  background-color: rgb(241, 236, 228);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 10vh;
}

.heroImgContainer{
  /* width: 70vw; */
  /* height: auto; */
  max-height: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding: 0%;
}

.heroText {
  /* height: 90vh; */
  /* width: 30vw; */
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.heroImg {
  margin-left: 0%;
  width: 100%;
  display: inline;
  height: 90vh;
  object-fit: cover;
  /* position: relative; */
}

h1 {
  padding-left: 0%;
  margin-left: 1em;
  font-size: 3rem;
  
}

h3 {
  /* width: 100%; */
  margin-left: 2em;
  text-decoration: none;
  font-size: 1.2rem;
}
