.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 50px;
}
.recipes {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-inline: 0%;
  padding-inline: 0%;
}
