.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.sliderTitle{
  text-align: center;
  font-family: var(--font-title);
  font-size: 2rem;
  margin-bottom: 2rem; 
}

.myRecipeRow {
  --bs-gutter-x: 3rem !important;
  --bs-gutter-y: 3rem !important;
}
/* .recipes {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-inline: 0%;
  padding-inline: 0%;
} */
