@import "../../../vars.css";
@import url("https://fonts.cdnfonts.com/css/mervale-script");

.navbar {
  /* position: relative; */
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-inline: 1%;
  background: linear-gradient(
    0deg,
    #faf7f2 0%,
    #faf7f2 50%,
    #f0e8da 100%
  );
  
}

.title {
  font-family: var(--font-logo);
  font-size: 3rem;
  color: var(--color-primary);
  text-decoration: none;
}

.menu {
  display: flex;
}
.menuItems {
  display: flex;
  list-style: none;
  gap: 80%;
  color: var(--color-text);


}

.menuItems a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.5rem;

}
.search {
  color: var(--color-text);
  font-size: 1.2rem;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 12px;
  width: 25%;
}
.search input{
  border: none;
    font-size: 1.2rem;

}

.search input:focus {
  outline: none;
}