.collectionCard {
  /* width: 100%; or max-width: 18rem if you want a limit */
  width: 18rem;
  height: 20rem;
}
.collectionCard:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.collectionImage {
  height: 12rem;
  width: 100%;
  border-radius: 10px;
  background-color: blue;
}

.collectionInfo {
  text-align: center;
}

.collectionTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
  overflow-wrap: break-word;
}

.collectionBtn {
  width: 8rem;
  height: 2.5rem;
  border-radius: 6px;
  background-color: var(--color-primary);
  color: white;
  font-size: 1.2rem;
  border: none;
}
