*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'mervale-script', Arial, Helvetica, sans-serif; */
}

@font-face {
  font-family: 'CopperPot';
  src: url('/fonts/CopperPot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


