:root {
  /* colours */
  --color-text: #312f2f;
  --color-primary: #d36b09;
  --color-secondary: #cb7e36;
  --color-dark: #0b2447;
  --color-bg: #faf7f2;
  --color-shadow: linear-gradient(
    0deg,
    #faf7f2 0%,
    #f0e8da 100%
  );

  /* fonts */
  --font-normalText: "Roboto", sans-serif;
  --font-logo: "Mervale Script", sans-serif; 
}
