@import url('https://fonts.googleapis.com/css2?family=Mervale&display=swap');

@import "../../../vars.css";

footer {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  bottom: 0;
  margin-top: 3rem;
  width: 100%;
  
  
}

.container {
  padding: 0.2rem;
  width: 100%;
}

.title{
  font-size: 3rem;
  color: #ffffff;
  text-decoration: none;
  font-family: "Mervale Script", sans-serif;
}

footer ul{
    list-style: none;
    padding-left: 0;

}

footer li{
  margin: 0%;
}
.socialinksList {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 0.5rem;
  padding-inline: 0;
  justify-content: center;
}

.socialLogos{
  color: #ffffff;
  font-size: 2rem;
}

.links{
  display: flex;
  flex-direction: row;
  /* gap: 70px; */
  padding: 20px;
}

footer p {
align-self: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}